# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS
Thumbs.db
Desktop.ini

# Logs
logs/

# cat_boost training folder
catboost_info/

# wc2026-files folder
wc2026-files/
